# Mac関連
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Google API認証情報ファイル
google_api_credentials.js

# Cursorの設定ファイル
.cursorrules

# Windsurfの設定ファイル
.windsurfrules
